
<tr>
    		<td><%= comment.commenter %></td>
 			<td><%= comment.body %></td>
 			<td>
  				<%= link_to 'Delete Comment', [comment.article, comment],
               	method: :delete,
               	data: { confirm: 'Are you sure?' } %>
			</td>
			<td><h1>HELLO WORLD</h1></td>
</tr> 